<div class="container">
  <h1>User Management</h1>
  <p class="m-bot-25">
    Add or Delete users and admins.
  </p>
  <div class="clearfix m-bot-25">
    <button title="Coming soon" class="btn btn-default pull-right disabled" ng-click="showNewMenuItemInput = !showNewMenuItemInput" type="button"><span class="fa fa-plus fa-lg"></span> New User</button>
  </div>
  <ul class="list-group admin-options">
    <li class="list-group-item"> <strong>Edit Users</strong>
      <ul class="list-group user-list">
        <li class="list-group-item" ng-repeat="user in admin.users">
          <div class="user-info">
            <strong>{{user.name}}</strong><br>
            <span class="text-muted">{{user.email}}</span>
          </div>
          <a ng-click="admin.deleteUser(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
        </li>
      </ul>
    </li>
  </ul>
</div>
