a {
color: yellow;
text-decoration: none;
text-shadow: 1px 1px white;
}
a:hover{
  color:white;
}

h3{
  color: yellow;
}

p{
  margin-left: 40px;
}
.confirm{
  width: 50%;
  height: 100%;
  margin-top: 500px;
  margin-left: 65px;
}
