.buffalo {
  width: 100%;
  // margin-left: 95%x;
  }

  .wings{
    width:100%;
  }
  .hero-unit{
    margin-bottom: -5%;
  }

  .image.apps.img-full{
    width: 100%;
  }

a {
color: yellow;
text-decoration: none;
text-shadow: 1px 1px black;
}
a:hover{
  color:white;
  text-shadow: 3px 3px black;
}

h3 {
  color: yellow;
}

// p{
//   margin-left: 40px;
// }
.confirm_item_button {
  width: 50%;
  height: 100%;
  color:yellow;
}

.btn-order {
  background-color:yellow;
  color: black;
  border-style:inset;
}

.checkbox {
  color:yellow;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.item-details {
  margin-bottom: 25px;
}

.item-options {
  margin-bottom: 55px;
}

.btn + .btn {
  margin-left: 15px;
}
