

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 100px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: yellow;
  text-align: center;
  text-shadow:1px 1px white ;
  background: black;
  font-family:serif;
  // margin-bottom: -5%
}

.main-menu h3 {
  color: white;
  text-align: center;
}

  .buffalo {
    width: 50%;

    }

// .beer{
//   margin-top: 35px;
//   margin-left: 20px;
// }
.appitizers, .entrees, .beverages{
// display:inline-block;
    width:100%;
}
.apps{
  width:100%;

}
