.ng-scope{
  color: black;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 100px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: yellow;
  text-align: center;
  text-shadow:1px 1px white ;
  background: black;
  font-family:serif;
}



// .navbar-text {
//   margin-left: 15px;
// }

// .navbar-default .navbar-brand{
//   color: green;
// }
